#header {
    background-color: #D9A86C;
    text-align: center;
    padding: 10px;
}
#header h1 {
    color: blue;
    border-bottom: 2px dotted blue;
}
blockquote {
    background-color: #FFCC00;
    border: 2px dashed #996600;
}

blockquote {
    background-color: #FFCC00;
    border: 2px dashed #996600;
    padding: 10px;
    font-style: italic;
    margin: 0 auto;
    width: 80%;
}

#soekarno {
    font-weight: bold;
    color: brown;
}

.img {
    text-align: center;
    margin: 15px 0;
}
.img img {
    width: 200px;
    border: 2px solid #999;
    margin: 5px;
}

.koleksi {
    text-align: center;
    margin: 20px 0;
}
.koleksi img {
    width: 150px;
    border: 1px solid #999;
    margin: 5px;
}

.penjelasan {
    text-align: justify;
    padding: 0 20px;
}
.penjelasan p::first-letter {
    font-size: 40px;
    color: blue;
    font-weight: bold;
}
.jawa {
    color: brown;
    font-weight: bold;
}


.promo {
    text-align: center;
    color: red;
}

.promo {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    padding: 10px 15px;
    color: black;
    border: 2px dotted black;
    border-radius: 15px;

    & p {
        text-align: center;
        font-weight: bold;
    }
}

#tombol {
     display: block;
     margin-right: auto;
     margin-left: auto;
     border: 2px solid whitesmoke;
     background-color: yellow;
     color: red;
}